<div class="UsersPageMain">
  <%= image_tag "drinks.jpg", class: "Users-bg" %>
  <div class="Users-container">
    <nav class="navbar">
      <ul>
        <li>
          <%= link_to "Sign-up", new_user_path, class: "Navbar-link" %>
        </li>
        <li>
          <%= link_to "Home", "/", class: "Navbar-link" %>
        </li>
      </ul>
    </nav>
    <div class="UserForm">
    <p class="Users-title">Sign-in!</p>
    </div>
    <% if flash[:error] %>
      <p class="Flash-error">
        <%= flash[:error] %>
      </p>
    <% end %>
    <div class="UserForm">
      <section class="UsersNew">
        <%= form_with url: sessions_path do |form| %>
          <div class="Form-section">
            <p class="FormInput-label">Email: </p>
            <%= form.email_field :email, class: "Form-input" %>
          </div>
          <div class="Form-section">
            <p class="FormInput-label">Password: </p>
            <%= form.password_field :password, class: "Form-input" %>
          </div>
          <div class="Form-section">
            <%= form.submit "Sign-in!", class: "Form-submit" %>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>
