<div class="MenuPageMain">
  <div class="MenuPage-header">
    <div class="MenuPage-title">Menu</div>
    <div class="MenuPage-controls">
      <% if @current_user %>
        <%= @current_user.name %>
        <%= link_to "Sign-out", destroy_sessions_path, method: "delete" %>
      <% end %>
    </div>
  </div>
  <% MenuCategory.all().each do |category| %>
    <div class="MenuPage-category">
      <%= category.name %>
    </div>
    <% MenuItem.where(menu_category_id: category).each do |item| %>
      <div class="MenuPageItem">
        <div class="MenuPageItem-name"><%= item.name %></div>
        <button class="AddToCart">Add To Cart</button>
      </div>
      <div class="MenuPageItem-details">
        <div class="MenuItem-description"><%= item.description %></div>
        <div class="MenuItem-price">Rs. <%= item.price %></div>
      </div>
    <% end %>
  <% end %>
</div>
