<div class="Center">
  <p class="FormHeader">
    Edit Menu Item
  </p>
  <%= form_with url: menu_items_path + "/#{@item.id}", method: "put" do |form| %>
    <div class="Form-section">
      <p class="FormField">
        Name:
        <%= form.text_field :name, class: "FormInput", value: @item.name %>
      </p>
    </div>
    <div class="Form-section">
      <p class="FormField">
        Description:
        <%= form.text_field :description, class: "FormInput", value: @item.description %>
      </p>
    </div>
    <div class="Form-section">
      <p class="FormField">
        Price:
        <%= form.number_field :price, class: "FormInput", value: @item.price %>
      </p>
    </div>
    <div class="Form-section">
      <%= form.submit "Update", class: "CheckoutButton" %>
    </div>
  <% end %>
</div>
