<div class="Center">
  <p class="FormHeader">
    Add New Item
  </p>
  <%= form_with url: menu_items_path, method: "post" do |form| %>
    <%= form.hidden_field :menu_category_id, value: @category_id %>
    <div class="Form-section">
      <p class="FormField">
        Name:
        <%= form.text_field :name, class: "FormInput" %>
      </p>
    </div>
    <div class="Form-section">
      <p class="FormField">
        Description:
        <%= form.text_field :description, class: "FormInput" %>
      </p>
    </div>
    <div class="Form-section">
      <p class="FormField">
        Price:
        <%= form.number_field :price, class: "FormInput" %>
      </p>
    </div>
    <div class="Form-section">
      <%= form.submit "Add Item", class: "CheckoutButton" %>
    </div>
  <% end %>
</div>
