<div class="MenuPageMain">
  <div class="OrderPage-container">
    <div class="OrderPage-heading">
      User ID: <%= @user.id %>
      <br/>
      User Role: <%= @user.role %>
      <br/>
      Name: <%= @user.name %>
      <br/>
      Email: <%= @user.email %>
      <br/>
      Contact Number: <%= @user.contact_no %>
      <br/>
      State: <%= @user.state %>
      <br/>
      City: <%= @user.city %>
      <br/>
      Address: <%= @user.address %>
    </div>
    <% if @user.role == "customer" %>
      <div class="OrderPage-container">
        <div class="OrderPage-heading">
          Orders
        </div>
        <div class="OrderPage-body">
          <table class="OrderHistory-table">
            <tr>
              <th>Order ID</th>
              <th>Order Date</th>
              <th>Order Total</th>
              <th>Order Status</th>
              <th>Order Details</th>
              <th>Mark as delivered</th>
            </tr>
            <% @user.orders.each do |order| %>
              <tr>
                <td><%= order.id %></td>
                <td><%= order.created_at %></td>
                <td><%= order.total %></td>
                <td><%= order.status %></td>
                <td><%= link_to "Order details", controller: "orders", action: "show", id: order.id %></td>
                <td>
                  <%= form_with(url: "/orders/#{order.id}", method: "put") do %>
                    <%= button_to "Mark as Delivered", onclick: "this.form.submit()" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    <% end %>
  </div>
