<div class="MenuPageMain">
  <div class="OrderPage-container">
    <div class="OrderPage-heading">
      Users
    </div>
    <div class="OrderPage-filter">
      <%= button_to "Customer", "/view_users", params: { :role => "customer" }, method: "get", class: "AddToCart" %>
      <%= button_to "Billing-Clerk", "/view_users", params: { :role => "billing-clerk" }, method: "get", class: "AddToCart" %>
      <%= button_to "Owner", "/view_users", params: { :role => "owner" }, method: "get", class: "AddToCart" %>
      <%= button_to "Show All Users", "/view_users", method: "get", class: "AddToCart" %>
    </div>
    <div class="OrderPage-body">
      <table class="OrderHistory-table">
        <tr>
          <th>User ID</th>
          <th>User Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>User Details</th>
          <th>Remove</th>
        </tr>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td><%= link_to "User details", controller: "users", action: "show", id: user.id %></td>
            <td><%= button_to "Remove", "/users/#{user.id}", method: "delete" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
