<div class="Home-container">
  <nav class="navbar">
    <% if @current_user == nil %>
      <ul>
        <li>
          <%= link_to "Sign-up", new_user_path, class: "Navbar-link" %>
        </li>
        <li>
          <%= link_to "Sign-in", new_sessions_path, class: "Navbar-link" %>
        </li>
        <li>
          <%= link_to "Our Menu", "#Menu", class: "Navbar-link" %>
        </li>
      </ul>
    <% end %>
  </nav>
  <div class="Company-title">Gourmet<br/> Cafeteria</div>
  <div class="HomeOrder">
    <% if @current_user == nil || @current_user.customer? || @current_user.billing_clerk? %>
      <%= link_to "Order Now", "/menu", method: "get", class: "HomeOrder-button" %>
    <% end %>
  </div>
</div>
<div class="Home-menu Center" id="Menu">
  <div class="HomeMenu-title">
    Our Menu
  </div>
  <% MenuCategory.all().order_by_id.each do |category| %>
    <div class="MenuCategory-container">
      <div class="MenuPage-category">
        <%= category.name %>
        <% if category.status == "inactive" %>
          <div class="Inactive">Inactive</div>
        <% end %>
      </div>
      <% category.menu_items.order_by_id.each do |item| %>
        <div class="MenuPageItem">
          <div class="MenuPageItem-name"><%= item.name %></div>
        </div>
        <div class="MenuPageItem-details">
          <div class="MenuItem-description"><%= item.description %></div>
          <div class="MenuItem-price">Rs. <%= item.price %></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
