<div class="OrderPage-container">
  <div class="OrderPage-heading">Order details</div>
  <div class="OrderBody">
    <% @user_cart.cart_items.each do |item| %>
      <div class="CartItem">
        <div class="CartItem-name">
          <%= item.menu_item.name %>
        </div>
        <div class="CartItem-price">
          <%= item.menu_item.price %>
        </div>
      </div>
    <% end %>
    <hr>
    <div class="CartTotal">
      <div class="CartItem-name">Total</div>
      <div class="TotalAmount">Rs. <%= @user_cart.total %></div>
    </div>
    <%= form_with(url: "/orders", method: "post") do |f| %>
      <% if @current_user.role == "customer" %>
        <p class="FormField">State:
        <%= f.text_field :state, value: @current_user.state, required: true, class: "FormInput" %>
        </p>
        <br />
        <p class="FormField">City:
        <%= f.text_field :city, value: @current_user.city, required: true, class: "FormInput" %>
        </p>
        <br />
        <p class="FormField">Address:
        <%= f.text_field :address, value: @current_user.address, required: true, class: "FormInput" %>
        </p>
        <br />
        <p class="FormField">Contact Number:
        <%= f.telephone_field :contact_no, value: @current_user.contact_no, required: true, class: "FormInput" %>
        </p>
        <br />
      <% end %>
      <%= submit_tag "Place Order", class: "CheckoutButton" %>
    <% end %>
  </div>
</div>
