<div class="MenuPageMain">
  <div class="OrderPage-container">
    <div class="OrderPage-heading">
      Orders ID: <%= @current_order.id %>
      <br/>
      Order Status: <%= @current_order.status %>
      <br/>
      <% if @current_order.user.id != 2 %>
        Delivery State: <%= @current_order.user.state %>
        <br/>
        Delivery City: <%= @current_order.user.city %>
        <br/>
        Delivery Address: <%= @current_order.user.address %>
        <br/>
        Contact Number: <%= @current_order.user.contact_no %>
      <% end %>

    </div>
    <div class="OrderPage-body">
      <table class="OrderHistory-table">
        <tr>
          <th>Item ID</th>
          <th>Item Name</th>
          <th>Item Price</th>
        </tr>
        <% @current_order.order_items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= item.menu_item_name %></td>
            <td><%= item.menu_item_price %></td>
          </tr>
        <% end %>
        <th>Total</th>
        <th></th>
        <th>Rs. <%= @current_order.total %></th>
      </table>
    </div>
  </div>
