<!DOCTYPE html>
<html>
  <head>
    <title>Cafeteria</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body class="BlackBG">
    <% if @current_user %>
      <div class="Header">
        <%= link_to "Gourmet Cafeteria", "/", class: "Header-title" %>
        <nav class="navbar">
          <ul>
            <li>
              <%= link_to "Sign-out", destroy_sessions_path, method: "delete", class: "Navbar-link Red" %>
            </li>
            <% if @current_user.role == "customer" %>
              <li><%= link_to "My Orders", "/myorders", method: "get", class: "Navbar-link" %></li>
              <li><%= link_to "Menu", "/menu", method: "get", class: "Navbar-link" %></li>
            <% elsif @current_user.role == "owner" %>
              <li><%= link_to "Add Members", new_user_path, class: "Navbar-link" %>
              <li><%= link_to "View Users", "/view_users", method: "get", class: "Navbar-link" %></li>
              <li><%= link_to "Sales Report", "/sales_report", method: "get", class: "Navbar-link" %></li>
              <li><%= link_to "Orders", "/all_orders/all", method: "get", class: "Navbar-link" %></li>
              <li><%= link_to "Menu", "/menu_admin", method: "get", class: "Navbar-link" %></li>
            <% end %>
            <li class="username">
              <%= @current_user.name %>
            </li>

          </ul>
        </nav>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
